.app-content{
  padding: 0 2vw;
  margin: 84px auto 0;
  min-height: calc(100vh - 84px - 64px);
  max-width: 1333px;
}

.app-content .wrapper{
  padding: 5px;
}

.app-content .wrapper .title{
text-align: center;
text-transform: uppercase;
}

.app-content .wrapper .title-decoration{
  width: 50px;
  height: 5px;
  background: #1890ff;
  margin: -10px auto 20px;
}

.app-content .wrapper .subtitle{
  text-transform: uppercase;
}

.app-content .wrapper .subtitle-decoration{
  width: 30px;
  height: 3px;
  background: hsl(209, 100%, 55%);
  margin: -10px 0 20px;
}

.app-content .grid{
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1160px){
  .app-content .grid{
    justify-content: center;
  }
}

.app-content .card-mobile{
  width: 90vw;
  max-width: 350px;
  margin: 8px 0;
}

.app-content .card-desktop{
  width: 90vw;
  max-width: 350px;
  margin: 8px;
}

.app-content .card-mobile .ant-card-body,
.app-content .card-desktop .ant-card-body{
  padding: 10px;
  height: calc(100% - 57px);
}

