
.resultados .place{
  text-align: center;
}

.resultados .photo{
  margin: 0 10px;
}

.resultados .name{
  margin-bottom: 0;
  margin-top: -5px;
}

.resultados .rate{
  font-size: 14px;
}

.resultados .loading{
  font-size: 64px;
  margin: 10px;
}

.resultados .loading-container{
  text-align: center;
}